---
import PageSite from "@layouts/PageSite.astro";
import ImageContainer from "@components/ImageContainer.astro";
---

<style>
  .inline-icon {
    height: 1em;
    transform: translateY(-0.1em);
    padding-right: 0.25rem;
  }
  .offset::before {
    display: block;
    content: " ";
    margin-top: -62px;
    height: 62px;
    visibility: hidden;
    pointer-events: none;
  }

  .youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }
</style>
<PageSite title="About" description={"A description of our team, as well as our history."}>
  <h1 id="about mb-3" class="offset mb-4">
    <img src="/icons/694-logo.svg" class="inline-icon" /> About Us
  </h1>
  <div class="row mb-3">
    <div
      class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-10 col-xxl-10 mb-3 order-sm-1 order-md-0 order-xl-0"
    >
      <h5 class="d-inline">We are StuyPulse, FIRST FRC Team 694.</h5>
      <p class="justify-content-evenly d-inline">
        Our nickname is derived from the idea that we are at the heart of our
        student body and local community. Our goal is to incentivize STEM ideas
        and cultivate skills in engineering, programming, business, teamwork,
        and leadership through our participation in FIRST Robotics Competitions.
        We hope to serve as an inspiration for people in our community and
        educate them on the wonders of the scientific community while
        simultaneously giving back through various outreach events. Our priority
        is making sure that everyone even slightly interested in STEM has the
        chance to further explore their interests and develop skills that will
        allow them to succeed. We are a no-cut, no tryout, all inclusive team
        that strives to make it possible for all individuals to be a part of an
        accepting community that allows people to explore the world of robotics
        and prepare for their futures.
      </p>
    </div>
    <div
      class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 col-xxl-2 order-sm-0 order-md-0 order-xl-1"
    >
      <h5>Learn More</h5>
      <ul>
        <li><a href="#about">About Us</a></li>
        <li><a href="/about/history">Team History</a></li>
        <li><a href="/about/departments">Departments</a></li>
        <li><a href="/about/leadership">Leadership</a></li>
        <li><a href="/about/mentors">Mentors</a></li>
        <li><a href="#first">About First</a></li>
      </ul>
    </div>
  </div>
  <div class="text-center">
    <iframe
      class="youtube-video"
      style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);"
      src="https://youtu.be/WiNKmPqEj0c?si=3ELJcauVCpZahoyJ"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    >
    </iframe>
  </div>

  <div class="row mt-5">
    <h2 id="today" class="offset">Team 694 Today</h2>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-7">
      <p>
        Team 694 is made up of about 150 students and participates annually in
        the FIRST Robotics Competition (FRC). During our six-week build season,
        we work <strong>almost daily</strong> in our laboratory at Stuyvesant as
        our dedicated team members collaborate to design, construct, and program
        our competing robot with the help of gracious parents and volunteer mentors.
      </p>
      <p>
        We strive to <strong>share our experience with teams in need</strong>.
        To this end we mentor teams and schools both in FRC, FIRSTTech, and
        FIRST Lego League, as well as performing street-level demos in our
        school. Our team is currently mentoring three new FLL teams, one of
        which we started ourselves at a nearby church. Furthermore, we also
        assist FRC teams during competitions with PulseCrew, which is made up of
        a group of experienced students dedicated to helping others with any
        Software or Engineering issues they may encounter. When we hosted our
        lab's grand opening in December 2022, we demoed our robot for various
        members of our school's staff as well as Councilmember Marte and Senator
        Brian Kavanagh. We have also reached out to Marte with intentions of
        testifying at an education committee to advocate for increased STEM
        funding for afterschool programs around the state, and have multiple
        planned robot demos for the Spring “inviting local politicians to the
        exciting competitions.”
      </p>
    </div>
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-5 mb-4 clearfix"
    >
      <div
        class="p-0 rounded align-middle"
        style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);"
      >
        <ImageContainer
          img="https://stuypulse.nyc3.cdn.digitaloceanspaces.com/site/img/community/stuypulse_champs.jpg"
          alt="StuyPulse at the 2022 FIRST Robotics Competition World Championship in Houston"
          height={"auto"}
          width={"auto"}
          tSize={"40px"}
        />
      </div>
    </div>
    <p>
      Team 694's impact lasts not only in our local community, but also
      intrinsically, within our team's community. We have a <strong>100%</strong
      >
      graduation rate, with most being accepted to some of the <strong
        >best universities in the world</strong
      >. To help perpetuate this high standard, we all help to drive one another
      to do better in school and help each other out when aid is needed.
    </p>
  </div>
  <div class="row mt-4">
    <h2>StuyPulse's Beginnings</h2>
    <p>
      Our team was founded in the fall of 2000 by a group of students and
      parents who were ready to take on the formidable task of building our
      first robot. They shared a common interest in robotics, and although few
      on the team had known each other prior to forming the team, they quickly
      learned the importance of cooperation and teamwork, and used it to
      accumulate the team members, sponsors, and mentors we have today. From the
      moment we raised funds for the daunting entrance fees to the FIRST
      competition, we were destined to succeed: eventually scoring highest in
      our division at the Champtionship Event in only our rookie year.
    </p>
  </div>
  <div class="row mt-4">
    <h2>What makes StuyPulse unique?</h2>
    <p>
      One of the things that Team 694 takes pride in is our <strong
        >overwhelming diversity</strong
      >. About forty percent of our team identifies as female, more than fifty
      percent qualifies for free and/or reduced lunch, and over eighty percent
      of our team are first generation Americans.
    </p>
    <p>
      Our team maintains close-knit relationships with one another despite the
      sheer number of members we have. Bonding occurs naturally, yet events such
      as our team dinner and honorary birthday mentions help speed this up! The
      journey to regionals across the country is anything but boring and is kept
      close to our hearts.
    </p>
    <div
      class="p-0 m-0 mx-auto w-50"
      style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);"
    >
      <ImageContainer
        img="https://stuypulse.nyc3.cdn.digitaloceanspaces.com/site/img/community/stuypulse_sbpli.jpg"
        alt="another image here"
        height={"auto"}
        width={"auto"}
        tSize={"40px"}
      />
    </div>
    <p class="text-muted text-center mt-2">
      StuyPulse at the 2022 SBPLI Long Island Regional #2
    </p>
    <p class="mt-3">
      As a team, StuyPulse has gone on to be champions <strong
        >numerous times</strong
      >. In 2022, we won the third seed in the Galileo Division and captained
      the third alliance in the quarterfinals. Additionally, in 2016 we won both
      regional competititons and the Engineering Inspiration Award at the NYC
      Regional, and were the sub-division champions of the Curie Subdivision at
      World Championships. We won the Regional Chairman's Award at the South
      Florida Regional and the Entrepreneurship Award at the New York City
      Regional in 2017.
    </p>
  </div>
  <div class="row mt-5">
    <h2>Team 694 in Media</h2>
    <p>
      A large part of StuyPulse's mission is to help <strong
        >spread the message of FIRST via newspapers, television, social media,
        and more</strong
      >. The local paper The TriBeCa Tribune and the Chinese-language paper
      China Daily have done segments of our team during the build season. We
      also make regular appearances in our own school newspaper, The Spectator.
      At demonstrations and other events we've been interviewed by radio and
      television stations in Arabic, Russian, and of course English. Our 2009
      robot, Michael 1, and our 2010 robot, Donovan, have made several
      appearances in newspapers and TV programs. Our mentor/adviser Rafael Colón
      was even chosen as the New Yorker of the Week by NY1, a local television
      station, and was shown on their channel for an entire week. We
      demonstrated Rafael, our 2017 robot, and DEStiny, our 2016 robot, at
      Fox&amp;Friends for the past two years. StuyPulse has also made
      appearances in renowned magazines such as Popular Mechanics and produces
      high-quality videos which can be viewed on our <a
        href="https://www.youtube.com/@StuyPulse">Youtube channel</a
      >.
    </p>
  </div>
  <div class="mt-5">
    <h2 id="first" class="offset">
      <a href="http://www.usfirst.org/"
        ><img
          class="inline-icon"
          src="/icons/first-logo.svg"
          alt="FIRST logo"
        /></a
      >
      About FIRST
    </h2>
    <p>
      <a href="http://www.usfirst.org/">FIRST</a> (For Inspiration and Recognition
      of Science and Technology) is a multinational non-profit organization that,
      in the words of its founder, Dean Kamen, seeks to “transform our culture by
      creating a world where science and technology are celebrated and where young
      people dream of becoming science and technology heroes.” From its founding
      in 1989, FIRST has positively impacted the lives of young students around the
      world through its accessible and innovative programs. These programs are designed
      to inspire and encourage participants to pursue careers in science, technology
      and math, and develop teamwork and skills in public relations, strategy, dedication,
      and outreach. Through partnerships with local and global businesses, dedicated
      volunteers with professional backgrounds, and the tireless efforts of students,
      teachers, and parents, FIRST opens a whole new world for generations of young
      adults and equips them with the skills to achieve success.
    </p>
    <p><a href="/about/first/">Learn more &raquo;</a></p>
  </div>
</PageSite>
