---
import PageSite from '@layouts/PageSite.astro';
---
<style>
  .inline-icon {
    height: 1em;
    transform: translateY(-0.1em);
    padding-right: 0.25rem;
  }
</style>

<PageSite title="About" description={"TEST"}>
  <div class="col-md">
    <h2>
      <a href="http://www.usfirst.org/"
        ><img
          class="front-page-thumb inline-icon"
          src="first-logo.svg"
          alt="FIRST logo"
        /></a
      >
      About FIRST
    </h2>
    <p>
      <a href="http://www.usfirst.org/">FIRST</a> (For Inspiration and Recognition
      in Science and Technology) is a multi-national, non-profit organization designed
      to inspire and encourage today's youth to pursue careers in science, technology
      and math. These programs also stress the development of skills in areas such
      as teamwork, public relations, strategy, dedication, and outreach, which
      are helpful and often necessary in future careers and endeavors.
    </p>
    <p><a href="/about/first/">Learn more &raquo;</a></p>
  </div>
</PageSite>
