---
import PageSite from '@layouts/PageSite.astro';
import LeadershipContainer from '@components/leadership/LeadershipContainer.astro';
import type {LeadershipType} from '@types';

const yml = await import('@data/leadership.yml');
const leaderData = yml.default;
---

<PageSite title="Leadership" description={"Leaders of various departments and subdepartments in our team."}>
  <h1>Executive & Appointed Council</h1>
  {
    leaderData.map((leader: LeadershipType) => (
      <div class="mb-3"></div>
        <LeadershipContainer leadership = {leader} height = "auto" width="auto" tSize="15px" hSize="27px"/>
    ))
    }
  
</PageSite>
