---
import MentorContainer from "@components/mentors/MentorContainer.astro";
import PageSite from "@layouts/PageSite.astro";
import type { MentorType } from "@types";

const yml = await import("@data/mentors.yml");
const mentorData = yml.default;
---

<PageSite title="Mentors" description={"TEST"}>
  <h1>Mentors</h1>

  <p>
    Team 694's successes are not without the help of our mentors. We are
    extremely thankful for the help they provide to us and it is due to the
    valued contribution of each mentor that Team 694 has been able to change
    lives throughout its history.
  </p>

  <p>
    Team 694 would like to thank any individual who has mentored us in the past,
    including the following people:
  </p>

  {mentorData.map((mentor: MentorType) => <MentorContainer mentor={mentor} />)}
</PageSite>
