---
import PageSite from '@layouts/PageSite.astro';
---

<PageSite title="Website" description={"TEST"}>
  <h1>About This Website</h1>
  <p>
    This iteration of StuyPulse.com launched in _____. 
    It took the place of our old Jekyll-based website established in 2013, using Astro in its stead, as well as having a more modernized design.
    This site was developed from 2022-2023 by our at the time newly formed I/T Department, consisting of Gus Watkins, Vi Lin, Kelvin Zhao, and Anthony Chen.
  </p>
  <h2>Website Structure</h2>
  <p>
    Continuing with the old site's use of a static site generator, this site uses the static site generator from Astro.js.
    Astro allows JavaScript and HTML to be blended together seamlessly in a single file in development, compiling to a static site such that no server-side processing is necessary after the site is built.
    As well as this, this site is hosted on GitHub pages using GitHub actions, decreasing load times.
  </p>
  <p>
    This site uses a combination of Astro files, as well as Markdown and MDX for our larger content collections, such as our blog or robot history.
    This allows the site to be easily maintained by our I/T department while ensuring that those without HTML or JavaScript experience can add content to the site easily.
  </p>
  <p>
    Furthermore, this site is highly component-ized, such that individual elements shared across pages can be changed or updated more efficiently.
    This ensures that any future modernization efforts do not require transitioning to a new framework or require a complete overhaul of the site.
  </p>

</PageSite>
