---
import type {SponsorType} from '@types';
import SponsorContainer from '@components/sponsors/SponsorContainer.astro'

const yml = await import('@data/sponsors.yml');
const sponsorData = yml.default;
---
<div
  id="ImageCarousel"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  
  <div class="carousel-inner">
    {
      sponsorData.map((sponsor: SponsorType, index: number) => (
        <div class={index == 0 ? "carousel-item bg-body active" : "carousel-item bg-body"} data-bs-interval="2000">
          <SponsorContainer sponsor = {sponsor} height = "350px" width = "400px" tSize = "60px"/>
        </div>
      ))
    }
  </div>
</div>
