---
import PageSite from "@layouts/PageSite.astro";
---

<PageSite title="Alumni" description={"???"}>
  <h1>Alumni Association</h1>
  <h1>sean says this site doesnt exist anymroe</h1>
  <p>We are a group of StuyPulse alumni spanning our team's existence who are in the process of setting up a team alumni organization.  Our goal is to make it easier for StuyPulse alums to communicate with each other and keep up with the team, as well as give current team members better ways to learn from us. With a recent decline in marketing and engineering mentors, StuyPulse needs our help more than ever.
  </p>
  <p>To accomplish this task, we run two ongoing projects. First, we have created a google group for job offers/advice, meetups, memories, and whatever else team alumni like to talk about.  Secondly, we're working on a regular newsletter to keep us up to date on the awesome things that the team and individual alumni are doing, as well as to give students an opportunity to ask for our help.</p>
</PageSite>
