---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
// console.log(entry);
const { Content, headings } = await entry.render();

import PageSite from '../../layouts/PageSite.astro';
---
<style>
  .row {
    margin-left: 15vw;
    margin-right: 15vw;
  }
</style>

<PageSite title={entry.title} description={""}>
  {
    entry.data.link ? 
    <iframe src={entry.data.link} width="100%" height="700px"></iframe>
    :
    <div class = "row">
      <div class="col">
        <Content />
      </div>
    </div>
  }
</PageSite>