---
import PageSite from '../../layouts/PageSite.astro';

// const posts = await Astro.glob('../posts/**/*.md');

// console.log(posts[0].frontmatter)
---

<PageSite title="blog" description={""}>
  <h1>hello</h1>
</PageSite>