---
import PageSite from "@layouts/PageSite.astro";
---


<PageSite title="Fundraising" description={"TEST"}>
  <h1 class="mb-1">Tutorials: Fundraising</h1>
  <a href="/resources/tutorials">&lt;&lt; Back to Tutorials</a>
  <div class="mb-3" />
  <p>Fundraising is a very important aspect of maintaining any FIRST Robotics team. Here is a guide to help you raise money.</p>
  <p>to be continued</p>
</PageSite> 