---
import PageSite from "@layouts/PageSite.astro";
---

<style>
  
  p {
    text-indent: 20px;
  }
</style>
<PageSite title="Tutorials" description={"TEST"}>
  <h1 class="mb-4">Tutorials</h1>
  <h4>Driver Station Troubleshooting Guide</h4>
  <p>
    Encountering Driver Station issues and don't know what's causing them? Take
    a look at our <a
      href="https://stuypulse.nyc3.cdn.digitaloceanspaces.com/site/pdf/694TroubleshootingGuide.pdf"
      >Driver Station Troubleshooting Guide</a
    >, a document published by our Software Engineering department with
    solutions to common Driver Station issues.
  </p>
  <h4>Fundraising</h4>
  <p>
    Fundraising is a very important aspect of maintaining any FIRST Robotics
    team. <a href="/resources/tutorials/fundraising"
      >Here's our guide on how to raise money for your team</a
    >.
  </p>
  <h4>FLL Curriculum</h4>
  <p>Click <a href="/resources/tutorials/fll">here</a> for our FLL curriculum guide, designed to help new teams and mentors.</p>

  <h4>Video Production</h4>
  <p>Creating videos for or about your team can be fun or can very tedious. Whether your experience are one or the other is dependent on how you carry out all the parts of the video production process. <a href="/resources/tutorials/video"></a></p>
</PageSite>

