---
import PageSite from "@layouts/PageSite.astro";
---

<PageSite title="Video Prod." description={"TEST"}>
  <h1 class="mb-1">Tutorials: Video Production</h1>
  <a href="/resources/tutorials">&lt;&lt; Back to Tutorials</a>
  <div class="mb-3"></div>
  <p>[GUIDE IN PROGRESS]</p>
</PageSite>
