/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

body {
  font-family: "museo-sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  /*margin: auto;*/
  /* padding: 20px; */
  /* max-width: 65ch; */
  text-align: left;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}
a {
  text-decoration: none;
  color: #e00;
}
nav a {
  margin-right: 10px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
}