---
import PageSite from "@layouts/PageSite.astro";
import PresentationsAside from "$components/resources/PresentationsAside.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const stuySplashEntries = await getCollection("stuysplash");

  return stuySplashEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<PageSite title="StuySplash" description={"TEST"}>
  <h1 class="mb-4">StuySplash Presentations</h1>
  <div class="row">
    <nav class="col-2 text-nowrap">
      <PresentationsAside activeYear={entry.data.year} />
    </nav>
    <div class="col-10 content">
      <Content />
    </div>
  </div>
</PageSite>
