---
import PageSite from '@layouts/PageSite.astro';
import HistoryAside from '$components/history/HistoryAside.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const historyEntries = await getCollection('history');
  return historyEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

---

<PageSite title="History" description={'TEST'}>
  <div class="row ">
    <nav class="col-md-3 text-nowrap">
      <p class="text-muted text-break text-wrap m-0 p-0 mb-0">Team History</p>
      <hr class="mt-1 mb-2 "/>
      <HistoryAside activeYear={entry.data.year}/>
    </nav>
    <div class="col-md-8 content">
      <Content />
    </div>
  </div>
  
</PageSite>
