---
import PageSite from '@layouts/PageSite.astro';
import HistoryAside from '$components/history/HistoryAside.astro';
import History from '@layouts/History.astro';
import type { YoutubeLinkType } from '@types';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const historyEntries = await getCollection('history');

  return historyEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<PageSite title="Our History" description={'TEST'}>
  <div class="row ">
    <nav class="col-sm-2 row text-nowrap">
      <p class="text-muted text-break text-wrap m-0 p-0 mb-2">Team History</p>
      <HistoryAside />
    </nav>
    <div class="col-sm-10">
      <Content />
    </div>
  </div>
  

  
</PageSite>
