---
import PageSite from '@layouts/PageSite.astro';
import HistoryAside from '$components/history/HistoryAside.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const historyEntries = await getCollection('history');

  return historyEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<PageSite title="Our History" description={'TEST'}>
  <h1 class="mb-4">Past Competition Robots:</h1>
  <div class="row ">
    <nav class="col-sm-1 text-nowrap">
      <nav class="row">
        <HistoryAside />
      </nav>
      
    </nav>
    <div class="col-sm-11">
      <h1>{entry.data.title}</h1>
      <Content />
    </div>
  </div>
  

  
</PageSite>
