---
// import { getCollection } from 'astro:content';

// const historyEntries = await getCollection('history');
// const latestEntry = historyEntries[0];
// const latestYear = latestEntry.slug;
---

<div>
  <script>
    // hard coded,  fix later
    window.location.replace(window.location.href + '/2022');
  </script>
</div>
