---
import { getCollection } from 'astro:content';
import PageSite from '@layouts/PageSite.astro';
import Carousel from '@components/carousels/ImageCarousel.astro';
import SponsorCarousel from '@components/carousels/SponsorCarousel.astro';
//import { SITE_TITLE } from '@config';
import getSortedPosts from '@utils/getSortedPosts';
import { Picture, Img } from "astro-imagetools/components";
import NewsMiniPreview from '@components/news/NewsMiniPreview.astro';
const POSTS_ON_FRONT_PAGE = 5;
const newsEntries = await getCollection('news');
const sortedNews = getSortedPosts(newsEntries);
const frontPosts = sortedNews.slice(0, POSTS_ON_FRONT_PAGE);
---

<style>
  .inline-icon {
    height: 1em;
    width: 1em;
    transform: translateY(-0.1em);
    padding-right: 0.25rem;
  }

  .row {

    justify-content: center;
    align-items: center;
  }
  .col,
  .col-lg-7,
  .col-lg-5 {
    margin-bottom: 3rem;
  }

  p {
    margin-bottom: 0.25rem;
  }

  .large-name {
    font-size: 4rem;
    font-weight: bold;
    color: red;
    line-height: 1;
    margin-bottom: 5px;
  }
  .intro-text {
    font-size: 1.3rem;
    margin-bottom: 0;
    display: inline-block;
  }

  /* .carousel {
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  } */
  button {
    background-color: red;
    color: white;
    border-radius: 51px;
    border-style: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0.5rem;
  }

  button:hover {
    background-color: #e00;
  }
  .robotimg {
    width: 20rem;
    display: flex;
  }
  iframe{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }
</style>

<PageSite title={"Home"} description={'TEST'}>
  <div class="row">
    <div class="col">
      <div class="large-name">
          <img src="/694-logo.svg" alt="694 Logo" class="inline-icon"/>
        StuyPulse
      </div>
      <div class="intro-text mb-2" style="border-bottom: 3px solid #e00">
        FIRST Robotics Competition Team 694&nbsp;
      </div>
      <br />
      <p>
        We are StuyPulse, <a href="http://stuy.enschool.org/"
          >Stuyvesant High School's</a
        >
        award-winning FIRST Robotics team. We seek to impact young adults by cultivating
        skills in engineering, programming, and business through FIRST.
      </p>
      <a href="/about"><button type="button"> Learn More &gt;&gt;</button></a>
    </div>
    <div class="col-lg-7">
      <Carousel />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5" style="display: flex; align-items: center; justify-content: center;">
      <div class = "card robotimg">
        <!-- <img style = "width:20rem; display:flex;" src="https://stuypulse.nyc3.cdn.digitaloceanspaces.com/site/img/Excelsior.JPG"> -->
        <Picture
          src="https://stuypulse.nyc3.cdn.digitaloceanspaces.com/site/img/Excelsior.JPG"
          alt="Excelsior"
          attributes={{
            loading: "eager"
          }}
        />
      </div>
    </div>
    <div class="col">
      <div class = "large-name">Excelsior</div>
      <div class="intro-text mb-2" style="border-bottom: 3px solid #e00">Our 2022 Robot for Rapid React&nbsp;</div>
      <br>
      <!-- Excelsior was named after the late Stan Lee's catchphrase, as well as the Excelsior pass
         introduced in our home of New York City. Excelsior is the first bot to win three
        Innovation in Control awards in all of FRC history. -->
      <p>Excelsior was named after the Excelsior pass introduced in our home of New York City. 
        Excelsior is the first bot to win three Innovation in Control awards in all of FRC history. </p>
      <a href='/about/history'><button type="button"> Past Competition Robots &gt;&gt;</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 flex-wrap">
      <div class = "large-name">
        <a href="/sponsors/">
          <img
            class="front-page-thumb inline-icon"
            src="/red-diamond.svg"
            alt="Gem"
          />
        </a>
        Sponsors
      </div>
      <div class="intro-text mb-2" style="border-bottom: 3px solid #e00; width:8em">Our sponsors:&nbsp;</div>  
      <p>Our robots could not have been built, had it not been for the generosity of our sponsors. Want to sponsor our award-winning team?</p>
      <a href='/sponsors#info'><button type="button"> Sponsor Us &gt;&gt;</button></a>
    </div>
    
    <div class="col-sm-1" />

    <div class="col-sm-5">
      <SponsorCarousel images="sponsors" />
    </div>
    
  </div>
  <div class="row mt-5">
    <div class="row justify-content-start text-start">
      <div class="large-name">
        <img
            class="front-page-thumb inline-icon"
            src="/clock.svg"
            alt="Clock"
          />
        Latest News
      </div>
      <div class="intro-text mb-4 w-50" style="border-bottom: 3px solid #e00">
        Keep up with the team!&nbsp;
      </div>  
    </div>
    
    <div class="col-sm-5">
      <h2>Recent News</h2>
  
      <NewsMiniPreview entries={frontPosts}/>
  
      <strong><a href="/news">See older news &gt;&gt;</a></strong>
    </div>
    <div class="col-sm-7">
      <h2>Latest YouTube Video</h2>
      <p class="text-muted">Check out our other videos <a href="https://www.youtube.com/@StuyPulse">here</a>!</p>
      <iframe
        class="w-100"
        style="border:0.5em solid #e00; border-radius:1em; height:23em;"
        src="https://www.youtube.com/embed/2rx8xY8-7qM"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </div>
</PageSite>
