---
//@ts-ignore
import { getCollection } from 'astro:content';
import PageSite from '@layouts/PageSite.astro';
import Carousel from '@components/carousels/ImageCarousel.astro';
import SponsorCarousel from '@components/carousels/SponsorCarousel.astro';
import { SITE_TITLE } from '@config';
import getSortedPosts from '@utils/getSortedPosts';
//@ts-ignore
import { Picture, Img } from "astro-imagetools/components";
import NewsMiniPreview from '@components/news/NewsMiniPreview.astro';
const POSTS_ON_FRONT_PAGE = 5;
const newsEntries = await getCollection('news');
const sortedNews = getSortedPosts(newsEntries);
const frontPosts = sortedNews.slice(0, POSTS_ON_FRONT_PAGE);
---

<style>
  .inline-icon {
    height: 1em;
    transform: translateY(-0.1em);
    padding-right: 0.25rem;
  }

  .row {

    justify-content: center;
    align-items: center;
  }
  .col,
  .col-lg-7,
  .col-lg-5 {
    margin-bottom: 3rem;
  }

  p {
    margin-bottom: 0.25rem;
  }

  .large-name {
    font-size: 4rem;
    font-weight: bold;
    color: red;
    line-height: 1;
    margin-bottom: 5px;
  }
  .intro-text {
    font-size: 1.3rem;
    margin-bottom: 0;
    display: inline-block;
  }
  button {
    background-color: red;
    color: white;
    border-radius: 51px;
    border-style: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0.5rem;
  }

  button:hover {
    background-color: #e00;
  }
  .robotimg {
    width: 20rem;
    display: flex;
  }
</style>

<PageSite title={SITE_TITLE} description={'TEST'}>
  <div class="row">
    <div class="col">
      <div class="large-name">
        <!-- <Img
          src="694-logo.png"
          alt=""
          attributes={{
            //@ts-ignore
            class: "inline-icon",
            //@ts-ignore
          }}
          /> -->
          <img src="694-logo.png" class="inline-icon">
        StuyPulse
      </div>
      <div class="intro-text mb-2" style="border-bottom: 3px solid #e00">
        FIRST Robotics Competition Team 694&nbsp;
      </div>
      <br />
      <p>
        We are StuyPulse, <a href="http://stuy.enschool.org/"
          >Stuyvesant High School's</a
        >
        award-winning FIRST Robotics team. We seek to impact young adults by cultivating
        skills in engineering, programming, and business through FIRST.
      </p>
      <a href="/about"><button type="button"> Learn More &gt;&gt;</button></a>
    </div>
    <div class="col-lg-7">
      <Carousel />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5" style="display: flex; align-items: center; justify-content: center;">
      <div class = "card robotimg">
        <!-- <img style = "width:20rem; display:flex;" src="https://stuypulse.nyc3.cdn.digitaloceanspaces.com/site/img/Excelsior.JPG"> -->
        <Picture
          src="https://stuypulse.nyc3.cdn.digitaloceanspaces.com/site/img/Excelsior.JPG"
          alt="Excelsior"
        />
      </div>
    </div>
    <div class="col">
      <div class = "large-name">Excelsior</div>
      <div class="intro-text mb-2" style="border-bottom: 3px solid #e00">Our 2022 Robot for Rapid React&nbsp;</div>
      <br>
      <p>Excelsior was named after the late Stan Lee's catchphrase, as well as the Excelsior pass
         introduced in our home of New York City. Excelsior is the first bot to win three
        Innovation in Control awards in all of FRC history. </p>
      <a href='/about/history'><button type="button"> Past Competition Robots &gt;&gt;</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h2>Recent News</h2>

      <NewsMiniPreview entries={frontPosts} numPosts={POSTS_ON_FRONT_PAGE} />

      <strong><a href="/news">See older news &gt;&gt;</a></strong>
    </div>

    <div class="col-sm-4">
      <h2>
        <a href="/sponsors/"
          >
          <img
            class="front-page-thumb inline-icon"
            src="/red-diamond.svg"
            alt="Gem"
          />
          </a
        >
        Sponsors
      </h2>
      <p>We would like to thank our <a href="/sponsors/">sponsors</a>:</p>
      <SponsorCarousel images="sponsors" />
    </div>
  </div>
</PageSite>
