---
import PageSite from '../layouts/PageSite.astro';
import { SITE_TITLE } from '../config';
import 'bootstrap/dist/css/bootstrap.min.css';
---

<PageSite title={SITE_TITLE}>
  <h1>StuyPulse</h1>
  <p>hello world</p>
</PageSite>
