---
import PageSite from '../layouts/PageSite.astro';
import Carousel from '../components/ImageCarousel.astro';
import { SITE_TITLE } from '../config';
---

<PageSite title={SITE_TITLE} description={"TEST"}>
    <div class="row">
      <div class="col-lg" id="frontCarousel">
        <Carousel images={"frontCarousel"}/>
      </div>
      <div class="col">
        <h1>StuyPulse</h1>
        <p>hello world :O</p>
      </div>
    </div>
</PageSite>
