---
import PageSite from "@layouts/PageSite.astro";
import ImageContainer from '@components/ImageContainer.astro';
---

<style>
  h4 {
    color: #6c757d;
  }
</style>

<PageSite title="Resources" description={"TEST"}>
  <h1 class="mb-4">Resources and Documents</h1>
  <h3>Resources</h3>
  <h4>Stuy Splash</h4>
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-7 col-xl-6 col-xxl-7">
      <p>
        Stuy Splash is an intensive camp for FRC, covering everything from the
        foundation of your robot to the 0's and 1's that make it overweight.
        Stuy Splash was originally adapted from the beta seminar that StuyPulse
        has given as a summary of beta testing for the past several years. We
        very much enjoy providing the beta seminar, but in 2012 we realized that
        we had much more information to impart to newer teams and as a result
        Stuy Splash was founded.
      </p>
      <p>
        Modeled after the wildly successful CSplash and MIT Splash events, Stuy
        Splash is designed to aid newer teams in whatever area they are having
        trouble. A set of classes on a variety of topics from game-piece
        manipulators to marketing strategies to rationalizing your team's
        decision-making process are held throughout the day with multiple
        simultaneous classes and no requirement to sit through an entire lecture
        ensure that the learners are engaged in precisely what they want to
        learn about. And, of course, the beta seminar is offered as part of the
        day's lectures.
      </p>
      <p>
        All previous Stuy Splash lectures can be found <a
          href="/resources/stuysplash">here</a
        >
      </p>
    </div>
    <div class="col-12 col-sm-12 col-lg-5 col-xl-6 col-xxl-5 mb-3 clearfix">
      <div class="p-0 float-end rounded align-middle" style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);">
        <ImageContainer
        img="https://stuypulse.nyc3.cdn.digitaloceanspaces.com/site/img/stuysplash_ex.jpg"
        alt="Stuy Splash 2023, with Mr. Blay presenting"
        height={'auto'}
        width={'auto'}
        tSize={'40px'}
      />
    </div>
    
    </div>
  </div>

  <h4>Open Source Software</h4>
  <p>
    From our <a href="https://github.com/StuyPulse/Jim" target="_blank"
      >robot code</a
    > to <a href="https://github.com/StuyPulse/stuypulse.com" target="_blank"
      >this very website</a
    >, everything we develop is open source. Check out our code on GitHub <a
      href="https://github.com/StuyPulse">here</a
    >!
  </p>
  <h3 class="mt-5">Team Documents</h3>
  <h4 class="">Team Forms</h4>
  <p>
    In order to join and participate on the team, the following must be
    completed:
  </p>
  <ul>
    <li>
      <a
        href="https://drive.google.com/file/d/1vqRcrqGt89DYi_p43XDBxM0iFZI3wF6X/view"
        >Media Consent Form</a
      >
    </li>
    <li>
      <a
        href="https://drive.google.com/file/d/1X1JhrtUJzZqmVKH_vOXHZXnsaIlKAWZ0/view"
        >Medical Form</a
      >
    </li>
    <li><a href="www.google.com">2022-2023 Contact Form (UNLINKED RN)</a></li>
    <li>
      <a
        href="https://www.firstinspires.org/resource-library/youth-registration-system"
        >FIRST Student Team Information Members System Form (STIMS)</a
      >
    </li>
  </ul>
  <p>
    New team members will need to request to be added to the <a
      href="https://groups.google.com/g/stuyvesant-robotics"
      >Stuyvesant Robotics google group</a
    > to recieve weekly emails and updates. They will also need to register an account
    with FIRST to fill out their STIMS.
  </p>
  <p>
    Team dues are $100, and completition of a safety exam is required to join
    the team.
  </p>
  <h4 class="">Branding Guide</h4>
  <p>
    Information regarding our team name, logo, and color usage can be found in
    our branding guide <a
      href="https://stuypulse.com/downloads/teamdocs/BrandingGuide2016-2017.pdf"
      >here</a
    >.
  </p>
  <h4 class="">Press Packet</h4>
  <p>
    Information and materials for potential sponsors can be found in our press
    packet <a
      href="https://stuypulse.nyc3.cdn.digitaloceanspaces.com/site/sponsorships/2022-23SponsorshipPacket.pdf"
      >here</a
    >.
  </p>
  <h4 class="">Team Charter</h4>
  <p>
    Find a formal description of our team's structure and government <a
      href="https://charter.stuypulse.com/"
      target="_blank">here</a
    >.
  </p>
</PageSite>
