---
import type { NavType } from "@types";
import Nav from "./Nav.astro";

export interface Props {
  nav: NavType;
}

const { nav } = Astro.props;
---

<style>
  a {
    border-radius: .5em;
  }
  a:hover{
    background-color: rgb(235, 235, 238);
  }
  a:active{
    background-color: rgb(224, 221, 221);
  }

  @media screen and (max-width: 991px){
    a {
      padding-left: 20px !important;
    }
    .dropdown-menu {
      margin-left: 30px !important;
    } 
    
    
  }
  
  @media screen and (min-width: 992px) {
    .dropdown {
      position: relative;
      top: 7.5px;
    }
    ul {
      background-color: rgb(246, 251, 255) !important;
      border-top: 2px !important;
      border-top-color: rgb(246, 251, 255) !important;
    }
    .dropdown-toggle {
      position: relative;
      top: -7.5px;
    }
    .dropdown-menu {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
</style>
<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle text-black"
    href={nav.href}
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {nav.name}
  </a>
  <ul class="dropdown-menu rounded-0 p-2 border-none">
    {
      nav.dropdown &&
        nav.dropdown.map((_nav) => (
          <Nav nav={_nav} drop={true}/>
        ))
    }
  </ul>
</li>
