---
import type { NavType } from '@types.js';
import Nav from './Nav.astro';
import Dropdown from './Dropdown.astro';

// @ts-ignore
const navs = (await import('@data/navbar.yml')).default;
---

<nav class="navbar navbar-expand-lg fixed-top mb-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
  <div class="container-fluid ">
    <a class="navbar-brand text-white" href="/">
      <img src="/694_white.svg" width="32px" height="32px" />
      StuyPulse
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse flex-row-reverse"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        {
          navs.map((nav: NavType) =>
            nav.dropdown ? <Dropdown nav={nav} /> : <Nav nav={nav} />
          )
        }
      </ul>
    </div>
  </div>
</nav>

<style>
  nav {
    
    background: linear-gradient(
      120deg,
      rgba(224, 0, 0, 1) 25%,
      rgba(210, 50, 40, 1) 55%
      
      
    );
  }
</style>
