---
import type {NavType} from '@types';

export interface Props {
  nav: NavType;
}

const { nav } = Astro.props;
---
<style>
  
  @media screen and (min-width: 992px ){
    a {
      border-radius: 10em;
    }
  }
  a:hover{
    background-color: rgb(235, 235, 238);
  }
  a:active{
    background-color: rgb(224, 221, 221);
  }
  
  
</style>
<li class="nav-item">
   {nav.dropdown ? 
  //  for navs inside a dropdown, since there is a white background
   <a class="nav-link active text-black" aria-current="page" href= { nav.href }>{ nav.name }</a> :
   <a class="nav-link active text-black" aria-current="page" href= { nav.href }>{ nav.name }</a>}
</li>