---
import type { NavType } from "@types";

export interface Props {
  nav: NavType;
}

const { nav } = Astro.props;
---

<style>
  a {
    border-radius: 0.5em;
    margin-right: 10px;
  }
  @media screen and (max-width: 991px ){
    a {
      padding-left: 20px !important;
    }
  }
  a:hover {
    background-color: rgb(235, 235, 238);
  }
  a:active {
    background-color: rgb(224, 221, 221);
  }
</style>
<li class="nav-item">
  <a class="nav-link active text-black" aria-current="page" href={nav.href}>
    {nav.name}
  </a>
</li>
