---
import PageSite from "@layouts/PageSite.astro";

---

<PageSite title="Calendar" description="Calendar for Team 694, used for meeting schedules and competitions.">
  <script>
    // import fullcalendar
    import { Calendar } from "@fullcalendar/core";
    import listPlugin from "@fullcalendar/list";
    import googleCalendarPlugin from "@fullcalendar/google-calendar";
    import dayGridPlugin from "@fullcalendar/daygrid";
    import timeGridPlugin from "@fullcalendar/timegrid";

    function timeFormat(date) {
      return date.toLocaleTimeString([], {
        hour: "numeric",
        minute: "2-digit",
        hour12: true,
      });
    }

    document.addEventListener("DOMContentLoaded", function () {
      var calendarEl = document.getElementById("calendar");
      if (!calendarEl) throw new Error("Calendar element not found");
      var calendar = new Calendar(calendarEl, {
        googleCalendarApiKey: "AIzaSyC8aX6KJLfEyiuSJ76hErHB8voNcoAi4yA",
        initialView: window.innerWidth < 768 ? "listWeek" : "dayGridMonth",
        plugins: [
          listPlugin,
          googleCalendarPlugin,
          dayGridPlugin,
          timeGridPlugin,
        ],
        headerToolbar: {
          left: "prev,next,today",
          center: "title",
          right: "listWeek,dayGridMonth,timeGridWeek",
        },
        contentHeight: "auto",
        fixedWeekCount: false,
        nowIndicator: true,
        customButtons: {
          addCalendar: {
            text: "Add to Google Calendar",
            click: function () {
              window.open(
                "https://calendar.google.com/calendar/u/2/r?cid=info@stuypulse.com&cid=stuypulse.com_oqgqev21591htqsjdhhg34mh3k@group.calendar.google.com"
              );
            },
          },
        },
        eventSources: [
          {
            googleCalendarId: "info@stuypulse.com",
          },
          {
            googleCalendarId:
              "stuypulse.com_oqgqev21591htqsjdhhg34mh3k@group.calendar.google.com",
          },
        ],
        eventClick: function ({event, jsEvent}) {
          alert(`${event.title} (${timeFormat(event.start)} - ${timeFormat(event.end)})`);

          // prevents current tab from navigating
          jsEvent.preventDefault();
        },
      });
      calendar.render();
    });
  </script>
  <div class="container">
    <div id="calendar"></div>
  </div>
</PageSite>
