---
export interface Props {
  img: string;
  alt?: string;
  text?: string;
  height?: string;
  width?: string;
  tSize?: string;
  placeholder?: string;
}

const { img, alt, text, height, width, tSize, placeholder } = Astro.props;
---

<style define:vars={{ height, width, tSize }}>
  .image-container {
    height: var(--height);
    width: var(--width);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }

  p {
    display: flex;
    font-size: var(--tSize);
    align-items: center;
    text-align: center;
  }

  img {
    display: block;
    height: var(--height);
    width: var(--width);
    object-fit: contain;
  }
</style>

<div class="image-container">
  {
    img ? (
      <img
        src={img}
        alt={alt}
        width={width}
      />
    ) : (
      <p>
        <strong>{text}</strong>
      </p>
    )
  }
</div>
