---
import PageSite from '@layouts/PageSite.astro';
---

<PageSite
  title="2024 Kickoff Information"
  description="Dedicated page for Kickoff information"
>
  <div class="container">
    <h2>Materials</h2>

    <ul>
      <li>
        <a href="https://www.youtube.com/watch?v=EMiNmJW7enI">Game Animation</a>
      </li>
      <li>
        <a
          href="https://firstfrc.blob.core.windows.net/frc2017/Manual/2017FRCGameSeasonManual.pdf"
          >Game Manual</a
        >
      </li>
      <li>
        <a
          href="https://docs.google.com/document/d/1Y6313RJL3lWlOtacUumdPYcI9WRKrB08Olx6HzcA5HE/edit?usp=sharing"
          >Abridged Manual</a
        >
      </li>
    </ul>

    <!-- <h2>Schedule</h2>
    
    <table class="table table-striped">
      <colgroup>
        <col span="1" style="width:30%">
        <col span="1" style="width:70%">
      </colgroup>
      <thead>
        <tr>
          <th scope="col"> Time </th>
          <th scope="col"> Activity </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" style=""> 11:00 - 11:50  </th>
          <th scope="row"> Setup </th>
        </tr>
        <tr>
          <th scope="row"> 11:50 - 12:00 </th>
          <th scope="row"> Mr. Blay Speech </th>
        </tr>
        <tr>
          <th scope="row"> 12:00 - 1:30 </th>
          <th scope="row"> Kickoff Broadcast </th>
        </tr>
        <tr>
          <th scope="row"> 1:30 - 2:30 </th>
          <th scope="row"> Manual Reading </th>
        </tr>
        <tr>
          <th scope="row"> 2:30 - 3:00 </th>
          <th scope="row"> Lunch + Group Leader Briefing + Taping </th>
        </tr>
        <tr>
          <th scope="row"> 3:00 - 5:00 </th>
          <th scope="row"> Small Group Discussion </th>
        </tr>
        <tr>
          <th scope="row"> 5:00 - 6:30 </th>
          <th scope="row"> Big Group Discussion (Small Groups Recap and Strategy) </th>
        </tr>
        <tr>
          <th scope="row"> 6:30 - 6:40 </th>
          <th scope="row"> Break </th>
        </tr>
        <tr>
          <th scope="row"> 6:40 - 7:40 </th>
          <th scope="row"> Human Robots </th>
        </tr>
        <tr>
          <th scope="row"> 7:40 - 8:00 </th>
          <th scope="row"> Clean Up </th>
        </tr>
      </tbody>
    </table> -->

    <h2>Group Discussion Points</h2>

    <ul>
      <li>NO MECHANISMS</li>
      <li>Make sure that everyone understands the game.</li>
      <li>Scoring Breakdown</li>
      <li>Draw the field</li>
      <li>Robot dimension restrictions</li>
      <li>Ranking System (Tiebreaks)</li>
      <li>What can a robot do?</li>
      <li>List of tasks: E.g. Drive, Pickup gear, score gear, etc.</li>
      <li>Autonomous Routines</li>
      <li>Types of Robots</li>
      <li>Types of Allances</li>
      <li>What will win quals?</li>
      <li>What will win a regional?</li>
      <li>What will win Champs?</li>
      <li>All a ways a robot can defend</li>
      <li>What shouldn't we do?</li>
      <li>Perfect cycles/perfect autons</li>
      <li>What will be common robots we will see?</li>
    </ul>

    <h2>Small Group Assignments</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"> Group Number</th>
          <th scope="col"> Room No. </th>
          <th scope="col"> Group Leaders</th>
          <th scope="col"> Group Members</th>
          <th scope="col"> Group Mentors</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"> 1</th>
          <td> 401 </td>
          <!-- <td> 433 </td> -->
          <td> Jason Yang, Ivan Chen, Gordan Doan</td>
          <td>
            Shirina Rong, Yonna Yeung, Gavin Lin, Steven Ho, Justin Lo, Run
            Chen, Sahn Choi, Joon Yoon, Carmin Vuong, Anthony Chen, Tracey Lin,
            Eric Lin
          </td>
          <td> Jeanne Boyarsky</td>
        </tr>
        <tr>
          <th scope="row"> 2</th>
          <td> 404 </td>
          <!-- <td> 437 </td> -->
          <td> Ya Qi Chew, Amber Shen, Edgar Ganahl</td>
          <td>
            Raymond Zhou, Rabab Chowdhury, Abidur Rahman, Alvern Chen, Taofiq
            Salman, Leslie Gao, Ian Shi, Aiden Jaimangal, Alan Liang, Ardian
            Agoes, Jophy Wang, Naveed Razzaque
          </td>
          <td> Samuel Chen</td>
        </tr>
        <tr>
          <th scope="row"> 3</th>
          <td> 429 </td>
          <!-- <td> 440 </td> -->
          <td> Michelle Zhu, Rain Shao, Rachel Kim</td>
          <td>
            Allison Zhao, Ryan Liu, Wilson Lin, Zafir Humaidee, Catherine Chen,
            Ashley Li, Jiayi Li, Alice Tseng, Zixi Feng, Claire Nguyen, Joy Lu,
            Mekot Sarder
          </td>
          <td> Verit Li, Navid Kashem</td>
        </tr>
        <tr>
          <th scope="row"> 4</th>
          <td> 411 </td>
          <!-- <td> 435 </td> -->
          <td> Aiden Tan, Benjamin Goldfisher, Mustafa Abdullah</td>
          <td>
            Edison Zhu, Qi Wang, William Wang, Felix Lin, Daniel Palisoul, Rahel
            Arka, Brian Zheng, Caden Cao, Tyler Lin, Willy Zheng, Alex Wang
          </td>
          <td> Oston Chen</td>
        </tr>
        <tr>
          <th scope="row"> 5</th>
          <td> Field </td>
          <!-- <td> 431 </td> -->
          <td> Justin Moy, Richie Xue, Naowal Rahman</td>
          <td>
            Tahmid Azmir, Nicole Chen, Kyler Chan, Xuan Hao Cen, Owen Zeng,
            Rahul Deb, Alex Lin, Simon Zhu, Jessie Yang, Dean Langley, Emily
            Liu, Hayden Low
          </td>
          <td> Dan Lavin, Howard Cohen, Blay</td>
        </tr>
        <tr>
          <th scope="row"> 6</th>
          <td> 439 </td>
          <!-- <td> 405 </td> -->
          <td> Jaco Xia, Rebeca Lin, Reya Miller</td>
          <td>
            Allison Palisoul, Christiana Cen, Ethan Sie, Ian Bae, Henry Zhang,
            Faria Tahir, Brendon Xie, Jonathan Hu, Ruicheng Qin, Kevin Lin,
            Raymond Zhang, Mandy Wang, Valerie Pook
          </td>
          <td> Max Zeng, Sam Belliveau, Vincent Wang</td>
        </tr>
        <tr>
          <th scope="row"> 7</th>
          <td> Lab </td>
          <!-- <td> 427 </td> -->
          <td> Kimberly Ye, Colyi Chen, Kalimul Kaif</td>
          <td>
            Phoebe Wu, Lauren Tran, Christina Chen, Winnie Lin, Daniel Uh,
            William Liu, Rachel Prizant, Taiyaba Tahrima, Jasper Friedmann,
            Justin Saraf, Zixi Qiao, Lucas Zheng
          </td>
          <td> Ivy Lin, Melanie Lin, Kano Kitaguchi</td>
        </tr>
        <tr>
          <th scope="row"> 8</th>
          <td> Field </td>
          <!-- <td> 403 </td> -->
          <td> Harry Belliveau, Elwin Au, Edmund Chin</td>
          <td>
            Raphael Zheng, Veronika Gulko, Timothy Young, Ethan Lee, Christopher
            Choe, Adam Choi, Esther Lee, Ryan Zhao, Maximiliano Pettica, Ethan
            Lin, Xinyue Xie, Philip Levinsky, Lucas Pavlov
          </td>
          <td> Myles Pasetsky</td>
        </tr>
        <tr>
          <th scope="row"> 9</th>
          <td> Lab </td>
          <!-- <td> 439 </td> -->
          <td> Angelina Li, Vinson Chen, Amelia Ng</td>
          <td>
            Regina Chen, Chris Lam, Gary Jiang, William Wang, Ehan Fardin, Ethan
            Yang, Karen Xu, Katy Zheng, Sophia Chi, James Clare, Belal Hasan,
            Umair Ayman, Weifen Chen
          </td>
          <td> Kevin Wang, Kelvin Zhao</td>
        </tr>
        <tr>
          <th scope="row"> 10</th>
          <td> Lab </td>
          <!-- <td> 429 </td> -->
          <td> Chuer Zhong, Elin Kim, Faiza Mia</td>
          <td>
            Rachel Uh, Juliet Badillo Flores, Ashley Chen, Maisha Alam , Patrick
            Kim, Ellie Hahn, Oliver Holden, Ronghe Guo, Fiona Zheng, Sarah Chen,
            Ricky Lin, Si Xuan Lin, Katie Wong
          </td>
          <td> Pev Vail, Sean Zhan, Dan Goldfisher</td>
        </tr>
      </tbody>
    </table>
  </div>
</PageSite>
