---
import type { SocialType } from '@types';
import SocialIcon from './SocialIcon.astro';

// @ts-ignore
const socials = (await import('@data/socials.yml')).default;
---

<footer>
  <div class="row" style="padding-top:10px">
    {socials.map((social: SocialType) => (
      <SocialIcon social={social}/>
      ))}
    <p>
      &copy; {new Date().getFullYear()} StuyPulse.
    </p>
  </div>
</footer>

<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>