---
import type { SocialType } from "@types";
import SocialIcon from "./SocialIcon.astro";
import bootstrap from "../../../node_modules/bootstrap/dist/js/bootstrap.bundle.js?url";

const socials = (await import("@data/socials.yml")).default;
---

<footer class="text-center">
  <hr class="hr-blurry mx-auto mt-5" />

  <div>
    <table class="w-75 table table-borderless mx-auto">
      <tr>
        {socials.map((social: SocialType) => <SocialIcon social={social} />)}
      </tr>
    </table>
  </div>
  <div>
    <div class="row">
      <div class="col"><a target="_blank" href="mailto: info@stuypulse.com">      info@stuypulse.com</a></div>
      <div class="col">&copy; {new Date().getFullYear()} StuyPulse</div>
      <div class="col"><a target="_bnplank" href="https://www.google.com/maps/place/Stuyvesant+High+School/@40.7178149,-74.0164171,17z/data=!4m6!3m5!1s0x89c25a1db5f8b8c9:0xb5084500683f46f9!8m2!3d40.7178149!4d-74.0138422!16zL20vMDI2MDM2?entry=ttu">       345 Chambers St, New York, NY</a></div>
    </div>
  </div>
  

  <script src={bootstrap}></script>
</footer>
