---
import type { SocialType } from '@types';
import SocialIcon from './SocialIcon.astro';

const socials = (await import('@data/socials.yml')).default;
import bootstrap from "../../../node_modules/bootstrap/dist/js/bootstrap.bundle.js?url";
---

<footer class="text-center">
  <hr class="hr-blurry mx-auto" />

  <div>
    <table class="w-75 table table-borderless mx-auto">
      <tr>
        {socials.map((social: SocialType) => <SocialIcon social={social} />)}
      </tr>
    </table>
  </div>

  <p>&copy; {new Date().getFullYear()} StuyPulse.</p>
</footer>
