---
import type { SocialType } from '@types';
import SocialIcon from './SocialIcon.astro';
import bootstrap from "../../../node_modules/bootstrap/dist/js/bootstrap.bundle.js?url";

const socials = (await import('@data/socials.yml')).default;
---

<footer>
  <hr class="hr-blurry mx-auto" style="width:60%; padding-bottom:15px;">
    <div class="justify-content-center">
      {socials.map((social: SocialType) => (
        <SocialIcon social={social}/>
        ))}
  </div>
  <p class="mt-3 text-center">
    &copy; {new Date().getFullYear()} StuyPulse.
  </p>
</footer>

<script
  src={bootstrap}
></script>

<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>