---
import type { SocialType } from '../../../src/types';
import SocialIcon from './SocialIcon.astro';

// @ts-ignore
const socials = (await import('../../data/socials.yml')).default;
---

<footer>ewc
  <div class="row" style="padding-top:10px">
    {socials.map((social: SocialType) => (
      <SocialIcon social={social}/>
      ))}
    <div class="col-3">
      &copy; {new Date().getFullYear()} StuyPulse.
    </div>
  </div>
</footer>

<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>