---
import type { SocialType } from '../../types';

export interface Props {
  social: SocialType;
}

const { social } = Astro.props;
---
<div class="col">
  <a href={social.url} target="_blank" rel="noopener noreferrer">
    <img src={social.icon} alt={social.name} style="position: cen" width={32} height={32}/>
  </a>
</div>
