---
export interface Props {
  numPages: number[];
  currPost: number;
}

const { numPages, currPost } = Astro.props;
---
<style>
  nav a {
    margin-right: 0 !important;
  }
</style>

<nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li class={currPost - 1 != 0 ? "page-item" : "page-item disabled"}>
      <a class="page-link" href={"/news/" + String(currPost-1)}>&laquo;</a>
    </li>
    {
      numPages.map((num: number)=>
        <li class="page-item">
          <a class={num != currPost ? "page-link" : "page-link active"} href={"/news/" + String(num)}>{num}</a>
        </li>
      )
    }
    <li class={currPost < numPages[numPages.length-1] ? "page-item" : "page-item disabled"}>
      <a class="page-link" href={"/news/" + String(currPost+1)}>&raquo;</a>
    </li>
  </ul>
</nav>