---
import { CollectionEntry, getCollection } from 'astro:content';
import YearNav from './YearNav.astro';

const history = await getCollection('history');
const sortedHistory: CollectionEntry<'history'>[] = [];
history.map((entry) => sortedHistory.unshift(entry));
export interface Props {
  activeYear: string;
}

const year = Astro.props;
---

<div class="accordion accordion-flush">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button collapsed m-0 p-0 text-center fs-3 d-md-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#years"
        aria-expanded="false"
        aria-controls="years"
        style="color: #e00;"
      >
        Team History
      </button>
      <p
        class="m-0 text-center d-none d-md-block"
        style="font-size: 18px; color: #e00;"
      >
        Team History
      </p>
    </h2>
    <div id="years" class="accordion-collapse collapse">
      <div class="accordion-body pt-2">
        <hr class="mt-1 mb-2" />

        {sortedHistory.map((entry) => <YearNav history={entry} />)}
      </div>
    </div>
  </div>
</div>

<hr />

<script defer>
  const years = document.getElementById('years');

  function responsiveDropdown() {
    if (window.innerWidth > 767) years.classList.add('show');
    else years.classList.remove('show');
  }

  responsiveDropdown();
  window.addEventListener('resize', (e) => responsiveDropdown(), true);
</script>
