---
import { CollectionEntry, getCollection } from 'astro:content';

const history = await getCollection('history');
const sortedHistory:CollectionEntry<'history'>[] = [];
history.map((entry) => sortedHistory.unshift(entry));

export interface Props {
  activeYear?: string;
}
---

{
  sortedHistory.map((entry) => (
    <div class="row no-gutters">
      <a href={entry.slug} class="p-0 pl-2">
        <p class="year mb-1 ">{entry.slug}</p>
      </a>
    </div>
    
  ))
}

<style>
  .year {
    color: rgba(224, 0, 0);
    margin-bottom: 0.25rem;
  }
</style>
