---
import type { CollectionEntry } from "astro:content";

export interface Props {
  history: CollectionEntry<"history">;
  currYear: string;
}

const { history, currYear }  = Astro.props;
---
<style>
  p {
    margin-bottom: 0;
    padding: 4px;
  }

  /* a {
    color: black;
  } */

  /* a:hover {
    color: black;
  } */
  
  nav a {
    margin-right: 0px;
  }

  .row {
    display: flex;
    vertical-align: middle;
  }

  .row:hover {
    background-color: #eee;
  }

  .activeYear {
    background-color: #eee;
  }
</style>

<a href={"/about/history/"+history.slug}>
  <div class={"row no-gutters align-items-center" + (currYear == history.slug ? " activeYear" : "")}>
    <p class="mb-0">{history.slug}: {history.data.title}</p>
  </div>
</a>
