---
import type { CollectionEntry } from "astro:content";

export interface Props {
  history: CollectionEntry<"history">;
}

const history = Astro.props.history;
---
<style>
  p {
    margin-bottom: 0;
    padding: 8px;
  }

  a {
    color: black;
  }

  a:hover {
    color: black;
  }
  
  nav a {
    margin-right: 0px;
  }

  .row {
    display: flex;
    vertical-align: middle;
  }

  .row:hover {
    background-color: #eee;
  }
</style>

<a href={history.slug}>
  <div class="row no-gutters align-items-center">
    <p>{history.slug}: {history.data.title}</p>
  </div>
</a>
