---
import type { CollectionEntry } from "astro:content";

export interface Props {
  entries: CollectionEntry<"news">[];
}

const { entries } = Astro.props;

const posts = [];
for (const entry of entries) {
  console.log("the date before localization is " + entry.data.date);
  const dateString = entry.data.date.toLocaleDateString("en-us", {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "2-digit",
  });

  posts.push({
    file: "news/" + entry.slug,
    title: entry.data.title,
    author: entry.data.author,
    date: dateString,
  });
}
---

{
  posts.map((post, i) => (
    <>
      <h3>
        <a href={post.file}>&raquo; {post.title}</a>
      </h3>
      <p>
        By {post.author} on {post.date}
      </p>
    </>
  ))
}
