---
import PageSite from "@layouts/PageSite.astro";
---

<PageSite title="Donate!" description="Donate to StuyPulse!">
  <div id="info">
    <h2>Donate To The Team!</h2>
    <p>
      Our robotics team is becoming a greater presence in the Stuyvesant
      community, with over 150 members in our three robotics teams. With more
      students joining every year and more projects being done, lots of our
      equipment and materials are dwindling and getting old. In order to provide
      students with state-of-the-art materials and more opportunities so that
      they can continue doing the things they do, we need YOUR help.
    </p>

    <p>
      If you or your company wishes to donate, contact us at 
      <a href="mailto:info@stuypulse.com">info@stuypulse.com</a> or donate using the widget below. Please note that payment below requires
      a transaction fee of 2.9% + $0.30 per transaction.    
    </p>

    <div class="widget">
        <givebutter-widget id="pa6zaj" align="center"></givebutter-widget>
    </div>
</PageSite>

