---
import type { YoutubeLinkType } from '@types';
import type { MarkdownLayoutProps } from 'astro';
import { Picture } from 'astro-imagetools/components';
import HistoryTable from '@components/history/HistoryTable.astro';

type Props = MarkdownLayoutProps<{
  title: string;
  year: string;
  photo: string;
  source?: string;
  flickr?: string;
  cad?: string;
  youtube_links?: YoutubeLinkType[];
  awards?: string[];
}>;

const { frontmatter } = Astro.props;
---

<h1>{frontmatter.year + ': ' + frontmatter.title}</h1>
<div
  class="col-sm-5 mx-auto mb-4"
  style="border: 5px solid #E7E7E7; border-radius: 10px;"
>
  <div class="d-flex justify-content-center">
    <Picture 
      src={frontmatter.photo} 
      alt={frontmatter.title} 
    />
  </div>
</div>

<slot class="content" />

<hr />

<HistoryTable frontmatter={frontmatter} />
