---
import type { YoutubeLinkType } from '@types';
import type { MarkdownLayoutProps } from 'astro';
import HistoryTable from '@components/history/HistoryTable.astro';
import ImageContainer from '@components/ImageContainer.astro';

type Props = MarkdownLayoutProps<{
  title: string;
  year: string;
  photo: string;
  source?: string;
  flickr?: string;
  cad?: string;
  youtube_links?: YoutubeLinkType[];
  awards?: string[];
}>;

const { frontmatter } = Astro.props;
---

<style>
  .no-mb :global(p) {
    margin-bottom: 0;
  }
</style>

<h1>{frontmatter.year + ': ' + frontmatter.title}</h1>

<div class="mx-4 mb-4 clearfix">
  <div class="float-start rounded me-4" style="border: 0.5rem solid #E7E7E7;">
    <ImageContainer
      img={frontmatter.photo}
      alt={frontmatter.title}
      height={'auto'}
      width={'400px'}
      tSize={'40px'}
    />
  </div>

  <div class="no-mb"><slot class="content" /></div>
</div>

<HistoryTable frontmatter={frontmatter} />
