---
import type { YoutubeLinkType } from '@types';
import type { MarkdownLayoutProps } from 'astro';
import HistoryTable from '@components/history/HistoryTable.astro';
import ImageContainer from '@components/ImageContainer.astro';

type Props = MarkdownLayoutProps<{
  title: string;
  year: string;
  photo: string;
  source?: string;
  flickr?: string;
  cad?: string;
  youtube_links?: YoutubeLinkType[];
  awards?: string[];
}>;

const { frontmatter } = Astro.props;
---

<h1 class="text-center">{frontmatter.year + ': ' + frontmatter.title}</h1>

<div class="mb-4 clearfix">
  <div class="img-container rounded d-flex justify-content-center mb-2">
    <ImageContainer
      img={frontmatter.photo}
      alt={frontmatter.title}
      height={'auto'}
      width={'400px'}
      tSize={'40px'}
    />
  </div>

  <div class="no-mb"><slot class="content" /></div>

  <HistoryTable frontmatter={frontmatter} />
</div>
