---
import Footer from '../components/footer/Footer.astro';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/header/Header.astro';

export interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, image, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head style="position: sticky">
    <BaseHead title={title} image={image} description={description}/>
  </head>
  <body>
    <Header />
    <slot/>
    <Footer />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  </body>
</html>
