---
import type { MarkdownLayoutProps } from 'astro';
import getPostDate from '@utils/getPostDate'

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  link: string;
  date: string;
  file: string;
}>;

const { frontmatter } = Astro.props;
let splitPath = frontmatter.file.split(/content|.md/);
const filePath = splitPath[1];

let postDate = getPostDate(frontmatter.file.split(/news\//)[1]);
const dateString = postDate.toLocaleDateString('en-us', {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "2-digit"
})
---
<h3><a href={filePath}>&raquo; {frontmatter.title}</a></h3>
<p>By {frontmatter.author} on {dateString}</p>
<slot />
