---
import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  link: string;
  file: string;
}>;

const { frontmatter} = Astro.props;
// console.log(frontmatter);
let splitPath = frontmatter.file.split(/content|.md/);
const filePath = splitPath[1];

let date = frontmatter.file.split(/blog\/|-/);
let postDate = new Date(Number(date[1]), Number(date[2]) - 1, Number(date[3]));
// console.log(date[1] + " - " + date[2] + " - " + date[3]);
// console.log(postDate);
const dateString = postDate.toLocaleDateString('en-us', {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "2-digit"
})
---
<h3><a href={filePath}>&raquo; {frontmatter.title}</a></h3>
<p>By {frontmatter.author} on {dateString}</p>
<slot />
